/* -----------------------------
# CSS Reset
----------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: rgb(238, 238, 238);
}
body.migraine-mode {
    background-color: #fd00e8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote::before, blockquote::after,
q:before, q:after {
	content: '';
    content: 'none';
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*:focus {
    outline: none;
}

/* -----------------------------
# General
----------------------------- */

@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format("truetype-variations");
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url('fonts/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2') format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

:root {
    --white: #eeeeee;
    --grey: #444444;
    --green: #218838;
    --light-green: #28aa44;
    --lighter-green: #2ec04e;
    --red: #c82333;
    --light-red: #e4273a;
    --lighter-red: #ff4154;
    --orange: #CF7B12;
    --blue: #034783;
    --dark-blue: #021E33;
    --light-blue: #015eaf;
    --lighter-blue: #0272d4;
    --teal: #2edeeb;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
}

#siarra-mode {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 300ms ease-in-out, transform 300ms ease-in-out;
}

body:not(.migraine-mode) #siarra-mode:hover, body.migraine-mode #siarra-mode {
    transform: rotate(5deg);
}

.demo-columns {
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
    row-gap: 40px;
}

.demo-columns.dark {
    background-color: var(--dark-blue);
}

body.migraine-mode .demo-columns.dark {
    background-color: #00fd15;
}

.demo-columns .column {
    min-width: calc(25%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    font-size: 20px;
}

.demo-columns .column h1 {
    font-size: 32px;
    text-align: center;
    text-transform: lowercase;
    font-variant: small-caps;
    color: rgba(0,0,0,0.3);
    padding-bottom: 4px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

.demo-columns.dark .column h1 {
    color: rgba(255,255,255,0.4);
    border-bottom: 2px solid rgba(255,255,255,0.2);
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
    width: 200px;
    padding-right: 20px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--grey);
    color: var(--white);
    border: 3px solid transparent;
    cursor: pointer;
    user-select: none;
}

/* ----------------
// Button General
---------------------- */

.btn.blue  { background-color: var(--blue);  }
.btn.green { background-color: var(--green); }
.btn.red   { background-color: var(--red);   }

.btn.disabled {
    opacity: 0.3;
    box-shadow: none !important;
    cursor: not-allowed;
    border-color: transparent !important;
}
.btn.disabled.blue { background-color: var(--blue) !important; }
.btn.disabled.green { background-color: var(--green) !important; }
.btn.disabled.red { background-color: var(--red) !important; }

/* ----------------
// Courseware Button
---------------------- */

.btn.courseware { transition: 300ms border-color ease-in-out; }
.btn.courseware .material-symbols-outlined { transition: 300ms color ease-in-out; }
.btn.courseware:hover    { border-color: var(--teal); }
.btn.courseware:hover .material-symbols-outlined {
    color: var(--teal);
}
.btn.courseware.selected { border-color: var(--orange); }
.btn.courseware.selected .material-symbols-outlined {
    color: var(--orange);
}

.btn:not(.courseware) {
    transition: 300ms border-color ease-in-out,
                300ms background-color ease-in-out,
                300ms box-shadow ease-in-out,
                300ms color ease-in-out;
}
.btn:not(.courseware).blue:hover:not(.selected) {
    box-shadow: 0 0 16px -8px black;
    background-color: var(--light-blue);
}
.btn:not(.courseware).green:hover:not(.selected) {
    box-shadow: 0 0 16px -8px black;
    background-color: var(--light-green);
}
.btn:not(.courseware).red:hover:not(.selected) {
    box-shadow: 0 0 16px -8px black;
    background-color: var(--light-red);
}

/* ----------------
// Standard Button
---------------------- */

.dark .btn:not(.courseware).blue:hover:not(.selected) {
    box-shadow: 0 0 16px -8px rgba(255,255,255,0.7);
}
.dark .btn:not(.courseware).green:hover:not(.selected) {
    box-shadow: 0 0 16px -8px rgba(255,255,255,0.7);
}
.dark .btn:not(.courseware).red:hover:not(.selected) {
    box-shadow: 0 0 16px -8px rgba(255,255,255,0.7);
}

.btn.standard.blue.selected {
    border-color: var(--blue) !important;
    background-color: var(--white) !important;
    color: var(--blue) !important;
}
.btn.standard.green.selected {
    border-color: var(--green) !important;
    background-color: var(--white) !important;
    color: var(--green) !important;
}
.btn.standard.red.selected {
    border-color: var(--red) !important;
    background-color: var(--white) !important;
    color: var(--red) !important;
}

.demo-columns:not(.dark) .btn.standard.blue.selected {
    background-color: var(--light-blue);
    border-color: rgba(0,0,0,0.3);
}
.demo-columns:not(.dark) .btn.standard.green.selected {
    background-color: var(--light-green);
    border-color: rgba(0,0,0,0.3);
}
.demo-columns:not(.dark) .btn.standard.red.selected {
    background-color: var(--light-red);
    border-color: rgba(0,0,0,0.3);
}

/* ----------------
// Fancy Animation General
---------------------- */

.absolute-wrapper {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
    width: 200px;
    padding-right: 20px;
    height: 50px;
    border-radius: 4px;
}

.btn-flood > div, .btn-flood > div > span {
    pointer-events: none;
}

/* ----------------
// Flood Button
---------------------- */

.btn.flood {
    border: 0;
    box-sizing: content-box;
    width: 180px !important;
    height: 50px !important;
    overflow: hidden;
}


/* ----------------
// Wave Button
---------------------- */